/* You can add global styles to this file, and also import other style files */
//  body {
//     background-image: url('./assets/images/back.JPG.jpg');
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-attachment: fixed;
//     width: 100%;
//     height: 100vh;  
//   }
html,
body {
    height: 100%;
}

body {
    margin: 0;
    
    background:url('https://img.freepik.com/premium-photo/cork-tree_93186-30.jpg?ga=GA1.1.1981978221.1747301521&semt=ais_hybrid&w=740');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
